$savepcb.brd
*.000
*.bak
*.bck
*-cache.*
*.s#?
*.l#?
*.b#?

Wheels.h
Wheels.cpp
!Core/Wheels.h
!Core/Wheels.cpp

Face.h
Face.cpp
!Core/Face.h
!Core/Face.cpp

Eyes.h
Eyes.cpp
!Core/Eyes.h
!Core/Eyes.cpp


Code/*.csproj.user
Code/*.suo
Code/bin
Code/obj
